@layer components {
  .panel {
    background: var(--section-color);
    text-align: center;
    padding: 120px 32px;
    margin: 0 -1rem;
    width: calc(100% + 2rem);
  }
  .overlap {
    border-radius: 24px; 
    width: 100%;
    margin: 0;
    position: relative;
  }
  .fancy {
    composes: overlap;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: 90%;
  }
  .fancy:before {
    height: 40%;
  }
  .fancy:after {
    height: 60%;
  }
}